#form-switch   {
    display:none
   }
   #register-form {
   display:none
   }
   #form-switch:checked~#register-form {
   display:block
   }
   #form-switch:checked~#login-form    {
   display:none
   }

   body    {
     display: flex ;
     min-height: 100vh;
     flex-direction: column;
     background-color: #fff;
   }

   main    {
    flex: 1 0 auto;
   }

   .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #000;
       color: white;
       text-align: center;
   }


        
   .button_login {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 8px 108px;
    text-align: center;
    color: white; 
   }


   .button_signup {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 8px 102px;
    text-align: center;
    color: white; 
   }

   .button1 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid #e7e7e7;
    cursor:pointer;
    overflow: hidden;
    outline:none;
   }

   input, select, textarea{
    color: #000;
}
   